body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    clear:both;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

ul.styleBar {
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2196F3;
    border-style: double;
    border-width: 3px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .styleBar li {
    list-style-type: none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    box-sizing: border-box;
    width: 20%;
    border-style: double;
    border-width: 3px;
    border-radius: 5px;
  }
  .styleBar li:hover {
    background-color: #1826a8;
  }
  .styleBar li:hover.blank {
    background-color: #2196F3;
  }