body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    clear:both;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

ul.styleBar {
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2196F3;
    border-style: double;
    border-width: 3px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .styleBar li {
    list-style-type: none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    box-sizing: border-box;
    width: 20%;
    border-style: double;
    border-width: 3px;
    border-radius: 5px;
  }
  .styleBar li:hover {
    background-color: #1826a8;
  }
  .styleBar li:hover.blank {
    background-color: #2196F3;
  }
  /*Found this code on how to make an n by n grid from this link. https://stackoverflow.com/questions/58572896/create-a-css-grid-with-nn-squares */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 12vmax);
    grid-template-rows: repeat(8, 12vmax);
    height: 100vh;
    padding: 10px;
    background-color: transparent;
  }
  
  .grid > .you, .grid > .dee {
      border: 3px black solid;
  }
  
  .you {
    background-color: yellow;
  }
  
  .dee{
    background-color: blue;
  }
  
  h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  