/*Found this code on how to make an n by n grid from this link. https://stackoverflow.com/questions/58572896/create-a-css-grid-with-nn-squares */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 12vmax);
  grid-template-rows: repeat(8, 12vmax);
  height: 100vh;
  padding: 10px;
  background-color: transparent;
}

.grid > .you, .grid > .dee {
    border: 3px yellow solid;
}

.you {
  background-color: red;
}

.dee{
  background-color: black;
}