label, input{
    display: block;
    margin-left: 15px;
}

input[type=text]{
    padding: 10px 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

label {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit]{
    border: none;
    background-color: lightsalmon;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.nameform{
    place-items: center;
}

.form-group{
    margin-bottom: 20px;
}

form{
    border: 4px solid black;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}