
@font-face {
    font-family: "myFirstFont";
    src: URL('PublicPixel-eZPz6.ttf') format('truetype'); /* font from https://www.cdnfonts.com/public-pixel.font */
}

.gamePiece img {
  background-position: center; /* <-- background position */
  object-fit: cover;
  width: 100%;
  height: 100%;
}
  
body {
    font-family: "myFirstFont"; 
    font-size: 10px;
    background-color: #464141;
    color: white;
}
ul.styleBar {
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .styleBar li {
    list-style-type: none;
    float: left;
    width: 20%;
  }
  .styleBar li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: black;
    border-style: solid;
    width: 20%;
    box-sizing: border-box;
  }
  .styleBar li:hover {
    background-color: #111;
  }
  .styleBar li:hover.blank {
    background-color: #333;
  }