
@font-face {
    font-family: "myFirstFont";
    src: URL('PublicPixel-eZPz6.ttf') format('truetype'); /* font from https://www.cdnfonts.com/public-pixel.font */
}

.gamePiece img {
  background-position: center; /* <-- background position */
  object-fit: cover;
  width: 100%;
  height: 100%;
}
  
body {
    font-family: "myFirstFont"; 
    font-size: 10px;
    background-color: #464141;
    color: white;
}
ul.styleBar {
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .styleBar li {
    list-style-type: none;
    float: left;
    width: 20%;
  }
  .styleBar li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: black;
    border-style: solid;
    width: 20%;
    box-sizing: border-box;
  }
  .styleBar li:hover {
    background-color: #111;
  }
  .styleBar li:hover.blank {
    background-color: #333;
  }
  /*Found this code on how to make an n by n grid from this link. https://stackoverflow.com/questions/58572896/create-a-css-grid-with-nn-squares */
.grid {
    margin-left: 25%;
    display: grid;
    grid-template-columns: repeat(8, 6vmax);
    grid-template-rows: repeat(8, 5vmax);
    height: 80px;
    width: 80px;
    padding: 10px;
    background-color: transparent;
}

.grid > .you, .grid > .dee {
    border: 3px yellow solid;
    box-sizing: border-box;
}

.you {
  background-color: red;
}

.dee{
  background-color: #777;
}


.accordion {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #333; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #333;
  overflow: hidden;
}
.movable {
  background-color: purple;
}