body {
  background: linear-gradient(to right, #0243a5, #dde671);
  color: white;
}
ul.styleBar {
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .styleBar li {
    list-style-type: none;
    float: left;
    width: 20%;
  }
  .styleBar li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: black;
    border-style: solid;
    width: 20%;
    box-sizing: border-box;
  }
  .styleBar li:hover {
    background-color: #111;
  }
  .styleBar li:hover.blank {
    background-color: #333;
  }
  /*Found this code on how to make an n by n grid from this link. https://stackoverflow.com/questions/58572896/create-a-css-grid-with-nn-squares */
  .grid {
    margin-left: 32%;
    display: grid;
    /*
    grid-template-columns: repeat(8, 6vmax);
    grid-template-rows: repeat(8, 5vmax);
    */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 500px;
    width: 500px;
    padding: 10px;
    background-color: transparent;
  }
  
  .grid > .you, .grid > .dee {
      border: 3px black solid;
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
  }

.you {
  background-color: yellow;
}

.dee{
  background-color: blue;
}

h1{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.accordion {
  background: linear-gradient(to right, #0243a5, #dde671);
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(247, 184, 65);  
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
